{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width = device-width, initial-scale = 1.0">
    <title>Sign In and Sign Up Form - Easy Tutorials</title>
    <link rel="stylesheet" href="{% static 'css/SignUpPagestyle.css' %}">
    <script src="https://kit.fontawesome.com/be107114f4.js" crossorigin="anonymous"></script>

</head>
<body>
<div class="container">
    <div class="form-box">
        <h1>Sign Up</h1>
        <form action="/SignUp/" action="post">
            {% csrf_token %}
            <table>
                {{ f }}
            </table>
        </form>
    </div>
</div>

</body>
</html>
